
Y Оценка глаголов(событий, действий). Положительная\отрицательная. Для SelfReaction (SR) и SelfPresumption (SP)
Y Оценка агентов(событий, действий). Положительная\отрицательная. Для OtherPresumption (OP)
Y Умения найти агентов. Для DirectionEmotion (DE).
- Умения различать субъкт-объект.
Y Количество положительных\отрицательных смыслов у глагола
Y Определять время глагола. Для Status (Stat)
Y Находит модальный глаголы. Для Status (Stat)
Y Оценка агентов и объектов (AF, OF)
Y Популярность слова. Для OA
Y Оценка всего предложения
Y Нахождения токенов неожиданности: внезапно, вдруг (unexp)
Y Частота связи агент+действие. Для Expected Deviation
Y Частота связи действие+объект. Для Event Familiarity

--------
1. Исправить словарь популярности: сейчас он плохо лемматизирован
2. Разобраться с SyntaxNet: зависает
3. Оценка выражений: "сдать экзамен", "забыть день рождения друга" для SelfAppraisal
[!] 4. Очень много где нужны связи, текущая структура Sentence не предусматривает связей между словами


