
- Оценка глаголов(событий, действий). Положительная\отрицательная. Для SelfReaction (SR) и SelfPresumption (SP)
- Оценка агентов(событий, действий). Положительная\отрицательная. Для OtherPresumption (OP)
- Умения найти агентов. Для DirectionEmotion (DE).
- Умения различать субъкт-объект.
- Количество положительных\отрицательных смыслов у глагола
- Определять время глагола. Для Status (Stat)
- Находит модальный глаголы. Для Status (Stat)
- Оценка агентов и объектов (AF, OF)
- Популярность слова. Для OA
- Оценка всего предложения
- Нахождения токенов неожиданности: внезапно, вдруг (unexp)
- Частота связи агент+действие. Для Expected Deviation
- Частота связи действие+объект. Для Event Familiarity


